@charset 'utf-8';
@import url("framework.import.css");
body {
  font-size: 14px;
}
.single-layout .header {
  background: #2d3039;
}
.single-layout .login {
  width: 400px;
  margin: 0 auto;
  padding: 100px 0;
}
.single-layout .login h1 {
  min-width: 100px;
  font-size: 15px;
  padding: 10px 5px;
  border-bottom: 1px solid #ccc;
}
.single-layout .login li {
  margin-top: 20px;
}
.single-layout .login li label {
  display: inline-block;
  min-width: 75px;
  text-align: right;
}
.single-layout .login li input[type=text],
.single-layout .login li input[type=password] {
  min-width: 220px;
}
.single-layout .login li button {
  margin-left: 75px;
}
.single-layout .container .inner {
  padding-left: 0;
}
.main-layout .info .filter {
  padding: 10px;
}
.main-layout .info .filter input[type=text] {
  min-width: 200px;
}
.main-layout .info .filter select {
  min-width: 150px;
}
.main-layout .info .categroy-list {
  border-top: 1px solid #d1d1d1;
  padding: 0 0 10px 0;
  margin-top: 10px;
}
.main-layout .info .categroy-list .list-title {
  font-size: 14px;
  color: #00a9e8;
  background-color: #f9f9f9;
  padding: 10px;
}
.main-layout .info .categroy-list .list-content {
  padding: 10px;
  min-height: 240px;
}
.main-layout .info .categroy-list .list-content .category-item {
  display: inline-block;
  padding: 5px 15px;
  background-color: #f9f9f9;
  border-radius: 4px;
  margin-right: 10px;
  margin-top: 10px;
}
